<div class="row">
  <div class="col-sm-8 col-sm-4">
      <div class="well">
        <h2>Log In</h2>
        <%= form_for(:session, url: login_path) do |f| %>
        <p>
            <%= f.label :email %><br />
            <%= f.email_field :email %> 
        </p>
        <p>
            <%= f.label :password %><br />
            <%= f.password_field :password %>
        </p>
        <p>
            <%= f.submit "Log In" %>
        </p>
        <% end %>
    </div>
</div>
</div>