<% if @ticker.errors.any? %>
<h2>Following Errors:</h2>
<ul>
    <% @ticker.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
    <% end %>
</ul>
<% end %>

<%= form_for @ticker do |f| %>
<p>
    <%= f.label :ticker_symbol %><br />
    <%= f.text_field :ticker_symbol %>
</p>
<p>
    <%= f.label :buy_price %><br />
    <%= f.text_field :buy_price %>
</p>
<p>
    <%= f.label :units %><br />
    <%= f.text_field :units %>
</p>
<p>
    <%= f.label :fee %><br />
    <%= f.text_field :fee %>
</p>
<p>
    <%= f.label :profit %><br />
    <%= f.text_field :profit %>
</p>
<p>
    <%= f.submit %>
</p>

<% end %>